.filter {
  position: relative;
  width: 122px;
  height: 26px;
  top: 528px;
  left: 275px;
  gap: 0px;
  border-radius: 13px;
  opacity: 0px;
  background: #4e80ff;
}

.calender-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 209px;
  top: 530px;
  color: #9f9f9f;
}
.calender-text {
  /* 2024. 07. 21 */

  position: absolute;
  width: 80px;
  height: 21px;
  left: 250px;
  top: 530px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;

  color: #000000;
}
.location-icon {
  /* location_on */

  position: absolute;
  width: 26px;
  height: 26px;
  top: 530px;
  left: 382px;
  gap: 0px;
  opacity: 40%;
}
.location-text {
  /* 부산광역시 전체 */

  position: absolute;
  width: 150px;
  height: 21px;
  left: 420px;
  top: 530px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}
.arrow-icon2 {
  position: absolute;
  top: 494px;
  left: 530px;
  rotate: 90deg;
  width: 7px;
  height: 13px;
  opacity: 60%;

  color: #929292;
}
.filter-text {
  /* 필터 */

  position: absolute;
  width: 80px;
  height: 21px;
  top: 538px;
  left: 208px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #727272;
}
