.filter-container {
  height: 100%;
  width: 100vw;
}
.filter {
  /* position: relative; */
  width: 122px;
  height: 26px;
  /* top: 528px; */
  /* left: 275px; */
  gap: 0px;
  border-radius: 13px;
  opacity: 0px;
  background: #4e80ff;
}

.calender-location {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.calender-icon {
  width: 25px;
  height: 25px;
  color: #9f9f9f;
}
.calender-text {
  /* 2024. 07. 21 */

  width: 80px;
  height: 21px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;

  color: #000000;
}
.location-icon {
  /* location_on */

  width: 26px;
  height: 26px;
  gap: 0px;
  opacity: 40%;
}
.location-text {
  /* 부산광역시 전체 */

  width: 150px;
  height: 21px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}
.arrow-icon2 {
  rotate: 90deg;
  width: 7px;
  height: 13px;
  opacity: 60%;

  color: #929292;
}
.filter-text {
  /* 필터 */

  width: 80px;
  height: 21px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #727272;
}

.pageInfo {
}
