.header {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 60px;
  padding: 0 20px;
}

.logo {
  position: relative;
  left: -95px;
  width: 37px;
  height: 37px;
  background-color: #ff6038;
  border-radius: 50%;
  cursor: pointer;
}

.header ul {
  display: flex;
  position: relative;
  left: -25px;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin-right: 20px;
}

.header ul li {
  padding: 0 18px;
}

.header ul li span {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
}
.search {
  text-decoration: none;
}
.search-text {
  position: relative;
  top: 3px;
  left: 45px;
  width: 500px;
  height: 30px;
  border-radius: 17px;
  border: none;
  outline: none;
  text-decoration: none !important;
  padding-left: 50px;
  box-shadow: none;
  background: #ff6038;
  transition: background-color 0.3s ease;
}
.search-text:hover {
  background: #e5532d;
  outline: none;
}

.header-icons {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}
.search-icon {
  position: relative;
  top: 5px;
  left: -488px;
  height: 20px;
  cursor: text;

  z-index: 5;
}
.heart-icon {
  position: relative;
  top: 4px;
  left: 50px;
  width: 17px;
}
.profile-circle {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.profile-icon {
  position: relative;
  top: 3px;
  left: 68px;
  width: 15px;
  z-index: 2;
  cursor: pointer;
}
.profile-circle .ripple {
  position: absolute;
  top: 50%;
  left: 76px;
  width: 40px;
  height: 40px;
  background: #ff6038;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.modal-content {
  position: relative;
  pointer-events: auto;
  padding: 20px;
  border-radius: 8px;
  z-index: 20;
}
