.detailCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.detailCon1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 110px;
  position: relative;
  /* left: -90px; */
}
.detailCon2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  overflow: hidden;
}

.titleNameUp {
  /* position: relative; */
  width: 100%;
  height: 60px;
  /* top: 100px;
  left: 210px; */

  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  /* text-align: left; */
  color: white;
}
.subtitleName {
  width: 305px;
  height: 60px;
  /* top: 110px;
  left: 200px; */
  gap: 0px;
  opacity: 0px;

  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  color: white;
}
.poster1 {
  position: relative;
  width: 335px;
  height: 480px;
  top: 40px;
  left: -116%;
  /* top: 160px;
  left: 210px; */
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  background: #f5f2ed;
}
.poster-info {
  position: absolute;
  top: 0%;
  left: 120%;
  /* top: 0px;
  left: 400px; */
  width: 600px;
  height: 416px;

  font-family: Pretendard;
  font-size: 17px;
  font-weight: 500;
  line-height: 20.4px;
  text-align: left;
  color: white;
}
.price1 {
  padding-bottom: 40px;
}
.book1 {
  /* display: block; */
  position: relative;
  top: -30px;
  left: 110%;
  width: 260px;
  height: 80px;
  /* top: 115px;
  left: 1130px; */
  border-radius: 12px;
  background: #ff6038;
  text-decoration-line: none;

  font-family: Pretendard;
  font-size: 27px;
  font-weight: 700;
  line-height: 67px;
  text-align: center;
  align-content: center;
  color: #ffffff;
  cursor: pointer;
}
.index-info,
.index-review,
.index-QnA {
  display: flex;
  width: 350px;
  height: 52px;
  border-radius: 26px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #8e8e8e;
  border: 1px solid #8e8e8e;
}
.index-review {
  background: #dcdcd5;
  color: #000000;
}

.index1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.rating {
  position: relative;
  margin-top: 50px;
  width: 1110px;
  height: 250px;

  /* top: 230px;
  left: 215px; */
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  background: #dcdcd5;
}
.rating-text {
  position: absolute;
  top: 15px;
  left: 120px;
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.rating-num {
  position: absolute;
  width: 97px;
  height: 72px;
  top: 0px;
  left: 20px;
  gap: 0px;
  opacity: 0px;

  font-family: Pretendard;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
  color: black;
}
.rating-star {
  position: relative;
  display: inline;
  width: 31px;
  height: 31px;
  top: 140px;
  left: -140px;
  gap: 0px;
  opacity: 0px;
}
.rating-line {
  position: absolute;
  border-right: thick solid #b4b4b499;
  border-left: #b4b4b499;
  border-top: #b4b4b499;
  width: 0px;
  height: 220px;
  top: 5px;
  left: 370px;
}
.ageGroup-title {
  position: relative;
  top: 15px;
  left: 660px;
  color: black;
  font-weight: 600;
  font-size: 20px;
}
.ageGroup {
  position: absolute;
  top: 75px;
  left: 480px;
  width: 500px;
  height: 60px;
  display: grid;
  grid-gap: 15px;
  color: black;
}
.texts {
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.max {
  position: absolute;
  width: 325px;
  height: 11px;
  top: 0px;
  left: 90px;
  gap: 0px;
  border-radius: 7.5px;
  opacity: 0px;
  background: #d9d9d9;
}
.teen {
  position: absolute;
  width: 325px;
  height: 11px;
  top: 0px;
  left: 90px;
  gap: 0px;
  border-radius: 7.5px;
  opacity: 0px;
  background: #ff6038;
}
.max2 {
  position: absolute;
  width: 325px;
  height: 11px;
  top: 35px;
  left: 90px;
  gap: 0px;
  border-radius: 7.5px;
  opacity: 0px;
  background: #d9d9d9;
}
.twenty {
  position: absolute;
  width: 279px;
  height: 11px;
  top: 35px;
  left: 90px;
  gap: 0px;
  border-radius: 7.5px;
  opacity: 0px;
  background: #ff6038;
}
.max3 {
  position: absolute;
  width: 325px;
  height: 11px;
  top: 70px;
  left: 90px;
  gap: 0px;
  border-radius: 7.5px;
  opacity: 0px;
  background: #d9d9d9;
}
.forty {
  position: absolute;

  width: 168px;
  height: 11px;
  top: 70px;
  left: 90px;
  gap: 0px;
  border-radius: 7.5px;
  opacity: 0px;
  background: #ff6038;
}
.max4 {
  position: absolute;
  width: 325px;
  height: 11px;
  top: 105px;
  left: 90px;
  gap: 0px;
  border-radius: 7.5px;
  opacity: 0px;
  background: #d9d9d9;
}
.sixty {
  position: absolute;

  width: 10px;
  height: 11px;
  top: 105px;
  left: 90px;
  gap: 0px;
  border-radius: 7.5px;
  opacity: 0px;
  background: #ff6038;
}
.num {
  margin-top: 0px;
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 15px;
}
.num1 {
  position: absolute;
  top: 5px;
  left: 440px;
}
.num2 {
  position: absolute;
  top: 40px;
  left: 440px;
}
.num3 {
  position: absolute;
  top: 75px;
  left: 440px;
}
.num4 {
  position: absolute;
  top: 110px;
  left: 440px;
}
.review-top {
  display: flex;
  flex-direction: row;
  height: 30px;
  gap: 20px;

  position: relative;
  top: 40px;
  left: 435px;
}
/* .review-num {
  display: flex;
  position: absolute;
  top: -270px;
  left: -500px;
  color: gray;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 600;
} */
.latest1 {
  display: flex;
  /* position: absolute;
  top: -15px;
  left: 790px; */
  font-size: 18px;

  color: #c8c8c8;
}
.latest-arrow1 {
  display: flex;
  position: relative;
  top: 1px;
  left: -10px;
  height: 10px;
  opacity: 0.8;
  padding-top: 25px;
}
.all1 {
  display: flex;
  /* position: absolute;
  top: -15px;
  left: 910px; */
  font-size: 18px;

  color: #c8c8c8;
}
.all-arrow1 {
  display: flex;
  position: relative;
  top: 1px;
  left: -10px;
  height: 10px;
  opacity: 0.8;
  padding-top: 25px;
}
.review {
  position: relative;
  top: 90px;
  background-color: black;
}
.review-circle {
  position: relative;
  width: 58px;
  height: 58px;
  top: 0px;
  left: 3px;
  border-radius: 50%;

  background: #d9d9d9;
}
.review-name {
  position: relative;
  top: -70px;
  left: 70px;

  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.8px;
  text-align: left;
  color: white;
}
.review-star {
  position: relative;
  display: inline;
  top: -83px;
  left: 70px;
  width: 20px;
}
.review-date {
  position: relative;
  top: -125px;
  left: 180px;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #bebebe;
}
.review-content {
  position: relative;
  top: -110px;
  left: 5px;
  font-size: 18px;
  color: white;
}
.review-line {
  position: relative;
  width: 1110px;
  height: 0px;
  top: -30px;
  left: -10px;
  border: 0.7px;

  border: 0.7px solid #d0d0d0;
}
