* {
  font-family: "Pretendard", Arial;
}

.subList {
  position: absolute;
  width: 305px;
  height: 60px;
  top: 90px;
  left: 142px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.author,
.gallery {
  position: absolute;
  height: 19px;
  top: 160px;
  font-weight: 500;
  font-size: 19px;
  line-height: 22.8px;
  color: #000000;
}

.author {
  width: 89px;
  left: 145px;
}

.gallery {
  width: 121px;
  left: 661px;
}

.firstHr {
  position: absolute;
  border: 2px solid #dedede;
  width: 1000px;
  top: 197px;
  left: 142px;
}

.secondHr {
  position: absolute;
  border: 4px solid #000000;
  width: 508px;
  top: 195px;
  left: 658px;
}

.container-horizontal,
.name-horizontal {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}

.circle,
.box,
.title,
.place,
.heart,
.date {
  position: absolute;
}

.circle {
  width: 90px;
  height: 90px;
  top: 224px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.circle1 {
  border: 2px solid #4e80ff;
  left: 144px;
}
.circle2 {
  left: 271px;
}
.circle3 {
  left: 398px;
}
.circle4 {
  left: 525px;
}
.circle5 {
  left: 652px;
}

.mini {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 295px;
  left: 214px;
  background-color: #4e80ff;
  border-radius: 50%;
}

.name {
  position: absolute;
  height: 19px;
  top: 322px;
  line-height: 15.6px;
  font-size: 13px;
  font-weight: 500;
}

.name1 {
  left: 160px;
  width: 70px;
  color: #414141;
}
.name2 {
  left: 283px;
  width: 80px;
  color: #7e7e7e;
}
.name3 {
  left: 414px;
  width: 80px;
  color: #7e7e7e;
}
.name4 {
  left: 543px;
  width: 80px;
  color: #7e7e7e;
}
.name5 {
  left: 677px;
  width: 80px;
  color: #7e7e7e;
}

.subTitle1,
.subTitle2 {
  position: absolute;
  width: 136px;
  height: 19px;
  left: 145px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #353535;
}

.subTitle1 {
  top: 415px;
}
.subTitle2 {
  top: 700px;
}

.box {
  width: 380px;
  height: 183px;
  left: 145px;
  top: 460px;
  background: #ececec;
  border-radius: 12px;
  padding: 10px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10 {
  width: 183px;
  height: 183px;
  background: #ececec;
  border-radius: 12px;
}

.collection {
  width: 210px;
  height: 47px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow-heart {
  width: 20px;
  height: 20px;
}

.follow-locationIcon {
  width: 20px;
  height: 20px;
}

.follow-location {
  margin-top: 5px;
  font-size: 14px;
  color: #888;
}

.follow-period {
  margin-top: 5px;
  font-size: 14px;
  color: #888;
}
