
.followContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}

.followBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ececec;
  border-radius: 12px;
  padding: 10px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.follow-title {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow-heart {
  width: 20px;
  height: 20px;
}

.follow-locationIcon {
  width: 20px;
  height: 20px;
}

.follow-location {
  margin-top: 5px;
  font-size: 14px;
  color: #888;
}

.follow-period {
  margin-top: 5px;
  font-size: 14px;
  color: #888;
}
