
.header {
    position: fixed;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 1000;
}

.logo {
    position: absolute;
    width: 37px;
    height: 37px;
    background-color: #4E80FF;
    border-radius: 50%;
    left: 40px;
}
.header ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}
ul {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 580px;
    width: 400px;
}
li {
    list-style: none;
    padding: 20px;
}
.search {
    position: relative;
    width: 91px;
    height: 26px;
    top: 100px;
    left: 50px;
    gap: 0px;
    border-radius: 13px;
    background: #252323;
}
.search-icon {
position: absolute;
top: 20px;
left: 1400px;
}
.heart-icon {
    position: absolute;
    top: 20px;
    left: 1450px;
}
.profile-icon {
    position: absolute;
    top: 20px;
    left: 1500px;

}
 
