* {
  font-family: 'Pretendard', Arial;
  color: white;

}
body {
  display: flex;
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  min-height: 90vh; /* 화면 전체 높이 */
  margin: 0; /* 기본 여백 제거 */
  background-color: black; /* 배경색 유지 */
}

.container {
  display: flex;
  justify-content: center; /* 내부 가로 정렬 */
  align-items: flex-start; /* 내부 세로 정렬 */
  width: 80%; /* 적절한 너비 지정 */
  padding: 20px;
  background-color: black; /* 검정색 배경 */
}

.left-section {
  width: 30%;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding-right: 5px;
  margin-top: 5px;
  line-height: 5.5;
}

.right-section {
  width: 70%;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  padding-left: 10px;
  margin-top: 30px;
}

.divider {
  width: 1px;
  background-color: white; 
  height: 250px; 
  margin: 40px 80px 0px 10px;
}
