* {
  font-family: 'Pretendard', Arial;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
}

.info-page {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.title2 {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 90px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.subtitle2 {
  display: flex;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  opacity: 0.5; 
}

.poster-container2 {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.poster2 {
  width: 335px;
  height: 446px;
  border-radius: 12px;
  background: #ececec;
}

.info2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 520px;
  width: 600px;
  font-size: 17px;
  font-weight: 500;
  line-height: 35.4px;
}

.price2 {
  padding-bottom: 40px;
}

.book2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 203px;
  height: 67px;
  margin-top: 40px;
  margin-left: auto;
  background-color: #4e80ff;
  color: #fff;
  font-size: 27px;
  font-weight: 700;
  border-radius: 12px;
}

.index2 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  border-bottom: 4px solid #dedede; 
  padding: 10px 0; 
}

.index2 td {
  margin: 0 40px;
  font-size: 21px;
  font-weight: 600;
  text-align: center; 
}

.star2 {
  margin-left: 8px;  
}

.detail2 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.subTitle12, .subTitle22 {
  font-weight: 600;
  font-size: 23px;
  line-height: 27.6px;
  margin-top: 50px;
  color: #000000;
}

.info12, .info22 {
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  margin-top: 10px;
  color: #000000;
  text-align: left;
}
