.container11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background-color: black;
}
.container1-1 {
  background-color: black;
  width: 1300px;
}
.container1-3 {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.small {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 25px;
  width: 70px;
  height: 15px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;

  color: white;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 36px;

  color: white;
}
.background {
  position: relative;
  top: -80px;
  left: 350px;
  width: 333px;
  height: 396px;
  z-index: 0;
}
.BackLine1 {
  position: relative;
  top: -350px;
  left: -620px;
  height: 190px;
}
.BackLine2 {
  position: relative;
  top: -350px;
  left: -240px;
  height: 190px;
}
.BackLine3 {
  position: relative;
  top: -350px;
  left: 130px;
  height: 190px;
}

.bestContainer {
  position: relative;
  display: flex;
  justify-content: right;
  margin-top: 40px;
  margin-bottom: 60px;
  align-items: center;
  gap: 35px;
  top: -430px;
  left: 0px;
}
.best-link {
  cursor: pointer;
}
.bestBox {
  position: relative;
  /* top: -420px; */
  background: #f5f5ed;
  border-radius: 12px;
  width: 340px;
  height: 235px;
  z-index: 2;
}
.best-content {
  position: relative;
  top: 10px;
  left: 10px;
  width: 90%;
  font-family: Pretendard;
  font-size: 19px;
  font-weight: 600;
  line-height: 21.6px;
  color: white;
  padding: 10px;
}
.best-heart {
  position: absolute;
  top: 7px;
  left: 287px;
}
.best-locationIcon {
  position: relative;
  top: -10px;
  left: 19px;
  width: 17px;
}
.best-location {
  position: relative;
  top: -37px;
  left: 40px;
  font-family: Pretendard;
  font-size: 13px;
  font-weight: 400;
  line-height: 1px;
  text-align: left;
  color: white;
}
.best-period {
  position: absolute;
  left: 185px;
  bottom: 5px;
  font-family: Pretendard;
  font-size: 13.5px;
  font-weight: 500;
  line-height: 1px;
  text-align: left;
  color: white;
}
.arrow-icon1 {
  position: absolute;
  top: 313px;
  left: 1315px;
}
hr {
  position: relative;
  top: -420px;
  display: flex;
  width: 1300px;
  height: 0px;

  border: 2px solid #dedede;
}
.calender-icon1 {
  display: flex;
  position: relative;
  top: -385px;
  left: 5px;
  width: 25px;
  height: 25px;
  color: #9f9f9f;
}
.calender-text1 {
  display: flex;
  position: relative;
  top: -420px;
  left: 50px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;

  color: white;
}
.location-icon {
  display: flex;
  position: relative;
  top: -456px;
  left: 180px;
  width: 22px;
  height: 26px;
  gap: 0px;
}
.location-text {
  /* 부산광역시 전체 */
  display: flex;
  position: relative;
  top: -492px;
  left: 220px;
  width: 150px;
  height: 21px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  color: white;
}

.list-link {
  cursor: pointer;
}
.listContainer {
  display: flex;
  position: relative;
  top: -410px;
  /* left: -%; */
  flex-direction: row;
  flex-wrap: wrap;
  width: 1300px;
  column-gap: 270px;
  row-gap: 45px;
}
.listItem {
  display: flex;
  align-items: center;
}
.listBox {
  background: #f5f5ed;
  border-radius: 12px;
  width: 190px;
  height: 190px;
}
.listText {
  margin-left: 20px;
  color: white;
}
.list-content {
  position: relative;
  top: -15px;
  left: 0px;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  padding: 10px;
}
.list-heart {
  position: absolute;
  top: 8px;
  left: 315px;
  width: 20px;
  height: 20px;
}
.list-locationIcon2 {
  position: relative;
  top: -35px;
  left: 10px;
  width: 20px;
}
.list-location {
  position: relative;
  top: -78px;
  left: 20px;
  font-family: Pretendard;
  font-size: 13px;
  font-weight: 400;
  line-height: 13.2px;
  text-align: left;
  padding: 10px;
}
.list-period {
  position: relative;
  top: 0px;
  left: 160px;
}
