small {
  /* 7월 4주차 */

  position: absolute;
  width: 70px;
  height: 15px;
  left: 222px;
  top: 110px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  color: #000000;
}
h1 {
  /* 지금 주목받고 있는 전시회 BEST 5 */

  position: absolute;
  width: 320px;
  height: 60px;
  left: 220px;
  top: 108px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 36px;

  color: #000000;
}
.bestContainer {
  position: absolute;
  display: flex; /* Flexbox 사용 */
  justify-content: space-between; /* 아이템 간격 균등 */
  align-items: center; /* 수직 가운데 정렬 */
  gap: 38px; /* 아이템 간격 */
  top: 255px;
  left: 15%;
}
.bestBox {
  background: #ececec;
  border-radius: 12px;
  width: 330px;
  height: 225px;
}
.best-content {
  position: relative;
  top: -10px;
  left: 5px;
  width: 200px;
  font-family: Pretendard;
  font-size: 19px;
  font-weight: 600;
  line-height: 21.6px;
  /* text-align: left; */
  padding: 10px;
}
.best-heart {
  position: absolute;
  top: 6px;
  left: 287px;
}
.best-locationIcon {
  position: relative;
  top: -35px;
  left: 14px;
}
.best-location {
  position: relative;
  top: -60px;
  left: 35px;
  font-family: Pretendard;
  font-size: 13px;
  font-weight: 400;
  line-height: 1px;
  text-align: left;
}
.best-period {
  position: relative;
  top: 75px;
  left: 165px;
  font-family: Pretendard;
  font-size: 13.5px;
  font-weight: 500;
  line-height: 1px;
  text-align: left;
}
.arrow-icon1 {
  position: absolute;
  top: 313px;
  left: 1315px;
}
hr {
  /* Line 1 */

  position: absolute;
  width: 1120px;
  height: 0px;
  left: 206px;
  top: 500px;

  border: 2px solid #dedede;
}
.calender-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 209px;
  top: 530px;
  color: #9f9f9f;
}
.calender-text {
  /* 2024. 07. 21 */

  position: absolute;
  width: 80px;
  height: 21px;
  left: 250px;
  top: 530px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;

  color: #000000;
}
.location-icon {
  /* location_on */

  position: absolute;
  width: 26px;
  height: 26px;
  top: 530px;
  left: 382px;
  gap: 0px;
  opacity: 40%;
}
.location-text {
  /* 부산광역시 전체 */

  position: absolute;
  width: 150px;
  height: 21px;
  left: 420px;
  top: 530px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}
.arrow-icon2 {
  position: absolute;
  top: 494px;
  left: 530px;
  rotate: 90deg;
  width: 7px;
  height: 13px;
  opacity: 60%;

  color: #929292;
}
.filter-text {
  /* 필터 */

  position: absolute;
  width: 80px;
  height: 21px;
  top: 538px;
  left: 208px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #727272;
}
.filter {
  position: relative;
  width: 122px;
  height: 26px;
  top: 528px;
  left: 275px;
  gap: 0px;
  border-radius: 13px;
  opacity: 0px;
  background: #4e80ff;
}
.close {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 4px;
  left: 98px;
}
.pageInfo {
  position: absolute;
  top: 538px;
  left: 1290px;
}

.listContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 996px;
  /* justify-content: space-between; */
  /* align-items: center; */
  column-gap: 200px;
  row-gap: 45px;
  top: 630px;
  left: 208px;
}
.listItem {
  display: flex; /* 수평 정렬을 위한 Flexbox */
  align-items: center; /* 수직 가운데 정렬 */
}
.listBox {
  background: #ececec;
  border-radius: 12px;
  width: 183px;
  height: 183px;
}
.listText {
  margin-left: 20px;
}
.list-content {
  position: relative;
  top: -15px;
  left: 0px;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  padding: 10px;
}
.list-heart {
  position: absolute;
  top: 8px;
  left: 315px;
}
.list-locationIcon {
  position: relative;
  top: -35px;
  left: 10px;
}
.list-location {
  position: relative;
  top: -78px;
  left: 20px;
  font-family: Pretendard;
  font-size: 13px;
  font-weight: 400;
  line-height: 13.2px;
  text-align: left;
  padding: 10px;
}
.list-period {
  position: relative;
  top: 0px;
  left: 160px;
}

/* .bestBox.period {
  text-align: right;
} */
