* {
  font-family: "Pretendard", Arial;
}

.top-section {
  position: relative;
  width: 100%; /* 화면 전체 너비 */
  margin-bottom: 470px; /* Lists와의 간격 추가 */
}

.maps {
  position: relative;
  width: 1220px;
  height: 520px;
  margin: 200px 0 0 95px; /* 수평 중앙 정렬 */
  border-radius: 17px;
}

.listall1 {
  position: absolute;
  background-color: #000; /* 배경색 검정 */
  color: #fff; /* 텍스트 색상 흰색 */
  margin: -690px 0 0 -50px; /* 지도 아래 여백 */
  width: 1220px; /* 지도와 동일한 너비 */
  padding: 20px; /* 내부 여백 추가 */
  border-radius: 10px; /* 모서리 둥글게 */
}

.calendar2 {
  position: absolute;
  width: 25px;
  height: 25px;
}

.datef2 {
  position: absolute;
  width: 139px;
  height: 25px;
  font-weight: 400;
  font-size: 17px;
  line-height: 10px;
  color: white;
}

.position2 {
  position: absolute;
  width: 27px;
  height: 27px;
}

.placef2 {
  position: absolute;
  width: 139px;
  height: 25px;
  font-weight: 400;
  font-size: 17px;
  line-height: 10px;
  color: white;
}

.arrowDown2 {
  position: absolute;
  width: 15px;
  height: 10px;
}

.filter-text2 {
  position: absolute;
  width: 139px;
  height: 25px;
  font-weight: 600;
  font-size: 17px;
  line-height: 10px;
  color: #000000;
}

.lists-container1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 50px; /* 상단 섹션과의 간격 */
}
