
* {
  font-family: 'Pretendard', Arial;
}


.title, .place, .heart, .date, .box{
  position: absolute;
}


.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10 {
  width: 183px;
  height: 183px;
  background: #ECECEC;
  border-radius: 12px;
}


.title1, .title2, .title3, .title4, .title5, .title6, .title7, .title8, .title9, .title10 {
  width: 300px;
  font-weight: 600;
  font-size: 18px;
  line-height: 16.8px;
  color: #000000;
}


.place1, .place2, .place3, .place4, .place5, .place6, .place7, .place8, .place9, .place10 {
  width: 100px;
  height: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 13.2px;
  color: #000000;
}


.heart1, .heart2, .heart3, .heart4, .heart5, .heart6, .heart7, .heart8, .heart9, .heart10 {
  position: absolute;
  top: 745px; 
  left: 300px; 
}


.date1, .date2, .date3, .date4, .date5, .date6, .date7, .date8, .date9, .date10 {
  width: 139px;
  height: 21px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.calendar2 {
  position: absolute;
  width: 25px;
  height: 25px;
}

.datef2 {
  position: absolute;
  width: 139px;
  height: 25px;
  font-weight: 400;
  font-size: 17px;
  line-height: 10px;
  color: #000000;
}

.position2 {
  position: absolute;
  width: 25px;
  height: 25px;
}

.placef2 {
  position: absolute;
  width: 139px;
  height: 25px;
  font-weight: 400;
  font-size: 17px;
  line-height: 10px;
  color: #000000;
}

.arrow2 {
  position: absolute;
  width: 15px;
  height: 10px;
}

.filter-text2 {
  position: absolute;
  width: 139px;
  height: 25px;
  font-weight: 600;
  font-size: 17px;
  line-height: 10px;
  color: #000000;
}

.circle {
  position: absolute;
  width: 122px;
  height: 26px;
  top: 140px;
  border-radius: 13px;
  background-color: #4E80FF;
}

.circle1 { left: 210px; }
.circle2 { left: 360px; }
.circle3 { left: 520px; }
.circle4 { left: 670px; }
.circle5 { left: 820px; }

.container-horizontal2, .close-horizontal2 {
  display: flex;
  justify-content: center;
}

.close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 142px;
}

.close1 { left: 305px; }
.close2 { left: 455px; }
.close3 { left: 610px; }
.close4 { left: 760px; }
.close5 { left: 910px; }

.map2 {
  position: absolute;
  width: 1120px;
  height: 490px;
  top: 200px;
  left: 142px;
}

.target2 {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 640px;
  left: 160px;
}

.filter2 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 140px;
  left: 1220px;
}

.positionred2 {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 437px;
  left: 825px;
}  