body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: flex-start;
  background-color: #000000;
}

.month {
  font-family: Pretendard, sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 10px;
}

.arrow_back_ios {
  position: flex;
  width: 12px;
  height: 21px;
  top: 108px;
  left: 290px;
  color: #4a4a4a;
  transform: scaleX(-1);
}

.arrow_next_ios {
  position: flex;
  width: 12px;
  height: 21px;
  top: 108px;
  left: 350px;
  color: #4a4a4a;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding: 10px;
  background-color: white;
  margin-top: 50px;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
  margin-top: 100px;
}

.calendar td {
  width: 165px;
  height: 100px;
  border: 1px solid #e0e0e0;
  position: flex;
  vertical-align: top;
  padding: 0;
}

.today {
  position: flex;
  text-align: right;
  padding: 5px;
  font-size: 16px;
  color: white;
  z-index: 2;
}

.day-container {
  position: relative;
  text-align: right;
  padding: 5px;
  font-size: 16px;
}

.Ellipse-today {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  height: 20px;
  background-color: #4e80ff;
  border-radius: 50%;
  z-index: 1;
}

.day-number {
  position: relative;
  z-index: 2;
}

.day {
  position: flex;
  text-align: right;
  padding: 5px;
  font-size: 16px;
}

.first-plan {
  position: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

.first-title {
  position: absolute;
  z-index: 2;
  font-family: Pretendard;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  color: white;
}

.first-Rectangle-container {
  width: 100%;
  margin-left: 0;
  z-index: 1;
}

.first-Rectangle {
  width: 110%;
  height: 16px;
  background-color: #4e80ff;
  z-index: 1;
  border-radius: 4px;
}

.second-plan {
  position: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

.second-title {
  position: absolute;
  z-index: 2;
  font-family: Pretendard;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  color: white;
}

.second-Line-container {
  width: 100%;
  margin-left: 0;
  z-index: 1;
}

.second-Line {
  width: 110%;
  height: 16px;
  background-color: #c6d6ff;
  z-index: 1;
  border-radius: 4px;
}
