.agenda {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
} 

.year {
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative;
  margin-bottom: 20px;
}

.arrow_back_ios {
  position: absolute; 
  left: 160px; 
  top: 20px; 
  transform: translateY(-50%) scaleX(-1); 
  cursor: pointer; 
}

.arrow_next_ios {
  position: absolute; 
  left: 180px; 
  top: 10px; 
  transform: translateY(-50%); 
  cursor: pointer; 
}

.month {
  font-family: Pretendard, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
}


.container {
  width: 100%;
  max-width: 1500px;
  padding: 10px;
  background-color: black;
  margin-top: 100px;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
  margin-top: 100px;
  color: white;
}

.calendar td {
  width: 165px;
  height: 100px;
  border: 1px solid #E0E0E0;
  position: flex;
  vertical-align: top;
  padding: 0;
}

.today {
  position: flex;
  text-align: right;
  padding: 5px;
  font-size: 16px;
  color: white;
  z-index: 2;
}

.day-container {
  position: relative;
  text-align: right;
  padding: 5px;
  font-size: 16px;
}

.Ellipse-today {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
}

.day-number {
  position: relative;
  z-index: 2;
}

.day {
  position: flex;
  text-align: right;
  padding: 5px;
  font-size: 16px;
}

.first-plan {
  position: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}


.first-title {
  position: absolute;
  z-index: 2;
  font-family: Pretendard;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  color: white;
}

.first-Rectangle-container {
  width: 100%;
  margin-left: 0;
  z-index: 1;
}

.first-Rectangle {
  width: 110%;
  height: 16px;
  z-index: 1;
  border-radius: 4px;
}

.second-plan {
  position: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

.second-title {
  position: absolute;
  z-index: 2;
  font-family: Pretendard;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  color: white;
}

.second-Line-container {
  width: 100%;
  margin-left: 0;
  z-index: 1;
}

.second-Line {
  width: 110%;
  height: 16px;
  z-index: 1;
  border-radius: 4px;
}
